{% extends "::base.html.twig" %}

{% block title %}Cinéma - À propos{% endblock %}

{% block body %}
<h1>À propos</h1>
<p>Ce site est fait par une équipe d'étudiants plutôt stylés.</p>
{% endblock %}
