{% extends "::base.html.twig" %}

{% block title %}Cinéma - Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<div class="well well-lg">Hébergeur :</div>

<div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
        <div class="thumbnail">
            <div class="caption">
                <p><strong>Obi-Yann Kenobi</strong></p>
                <p>42 rue perdue</p>
                <p>01337 Tatoïne</p>
                <p>06 42 13 37 42</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
