{% extends "::base.html.twig" %}

{% block title %}Cinéma - Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<p>
Hébergeur:<br /><br />

Obi-Yann Kenobi<br />
42 rue perdue<br />
01337 Tatoïne<br />
06 42 13 37 42
</p>
{% endblock %}
