/* StickyFooter */

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 130px;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    /*height: 60px;*/
    position: absolute;
    width: 100%;
    padding: 20px 0;
}

body > .container {
    padding-top: 60px
}

.cinema-createur {
    height: 550px;
    padding-bottom: 15px;
}

.cinema-createur > .thumbnail {
    height: 100%;
}
